.h-title {
    background: #00a1c5;
}

.menu{
    background: #00a1c5;
}

.menu-item{
    width: 33.33333333333333%;
}

.container{
    background: #00a1c5;
    padding: 0;
}

.report-head{
    line-height: 45px;
    background: #00a1c5;
    color: white;
    text-align: center;
    font-size: 16px;
    position: relative;
}

.btn-back{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    outline: none;
    line-height: 45px;
}

.btn-report{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    outline: none;
    line-height: 45px;
}

.btn-back:active{
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /** 消除WebApp蓝框 **/
}

.report-body{
    padding: 0 3% 15px 3%;
}

.report-content{
    min-height: 88vh;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: white;
    -webkit-box-shadow: inset 0 0 3px #ccc;
    -moz-box-shadow: inset 0 0 3px #ccc;
    box-shadow: inset 0 0 3px #ccc;
    padding: 15px;
}

.report-info{
    height: 70px;
    border-bottom: 1px solid #ccc;
}

.report-info-item{
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.report-text{
    padding-top: 15px;
    font-size: 14px;
    color: #505050;
    line-height: 22px;
    letter-spacing: 2px;
}


.btn-submit{
    height: 30px;
    width: 100px;
    letter-spacing: 3px;
    color: white;
    background: #3fbadd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
    -webkit-box-shadow: inset 0 0 3px #9ed4f7;
    -moz-box-shadow: inset 0 0 3px #9ed4f7;
    box-shadow: inset 0 0 3px #9ed4f7;
    cursor: pointer;
    outline: none;
    margin: 15px auto 0 auto;
    display: block;
}

.btn-submit:active{
    border: none;
    background: #5dc1e1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /** 消除WebApp蓝框 **/
}

.report-textarea{
    width: 100%;
    height: 74vh;
    resize: none;
    font-size: 14px;
    border: none;
    background: none;
    outline: none;
    -webkit-appearance: none; /** 消除组件默认样式 **/
    letter-spacing: 2px;
}
