@import "font-awesome.min.css";
@import "layout.css";
/*公共样式*/

@media screen and (min-width: 700px) { /*当屏幕尺寸小于700px时，应用下面的CSS样式*/

    .h-title{
        display: block!important;
        border-bottom: 1px solid #25ab8c;
    }

}

*{
    font-family: "微软雅黑","宋体",sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style-type: none;
    border-collapse: collapse;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /** 消除WebApp选中时的蓝框 **/
    outline: none;
}

body,
html{
    width: 100%;
    height: 100%;
}

body{
    background: #f0fcfd url(../img/background.png) no-repeat fixed top center;
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 700px;
    min-height: 100%;
    margin: auto;
    background: #efefef;
    padding-bottom: 55px;
    -webkit-box-shadow: 0 0 12px #ccc;
    -moz-box-shadow: 0 0 12px #ccc;
    box-shadow: 0 0 12px #ccc;
}

.header{
    position: relative;
}

.h-msg{
    position: absolute;
    top: 9px;
    right: 5px;
    z-index: 100;
    padding: 2px 7px;
    color: white;
    font-size: 20px;
}

.h-title{
    line-height: 45px;
    background: #28c2a0;
    color: white;
    text-align: center;
    font-size: 18px;
    display: none;
}

.tips-red{
    width: 6px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
}

.footer{
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 999;
    bottom: -1px;
    left: 0;
}

.menu{
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: auto;
    background: #28c2a0;
    -webkit-box-shadow: 0 -2px 3px #ccc;
    -moz-box-shadow: 0 -2px 3px #ccc;
    box-shadow: 0 -2px 3px #ccc;
    position: relative;
}

.menu-item{
    width: 25%;
    text-align: center;
    color: white;
    float: left;
    font-size: 12px;
    padding-top: 5px;
}

.menu-item:active{
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /** 消除WebApp蓝框 **/
}

.menu-ico{
    font-size: 28px;
}

.menu-item:hover{
    text-shadow: 1px 1px 2px #686868;
    cursor: pointer;
}

.text-active{
    font-weight: bold;
    color: #f2ffaa;
    text-shadow: 1px 1px 2px #686868;
}

.btn-top{
    font-size: 16px;
    padding: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    bottom: 70px;
    right: 15px;
    display: none;
    opacity: 0.5;
}